/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED VARIABLES
/**/

// -------------- * Primary colors * --------------

$color-primary-1: #b08be3;
$color-primary-2: #6d489c;

// -------------- * Secondary colors * --------------

$color-secondary-1: #b0f2b4;
$color-secondary-2: #2a4e2d;

// -------------- * Tertiary colors * --------------

$color-tertiary-1: #ffd6c0;
$color-tertiary-2: #baf2e9;

// -------------- * Background colors * --------------

$color-bg-1: #f1f0ff;
$color-bg-2: #fefdff;
$color-bg-3: #cccccc;

// -------------- * Text colors * --------------

$color-text-1: #1b191b;
$color-text-2: #7c7c7c;

$light-purple: #D9D1E4;
