/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED VARIABLES 
/**/

// -------------- * Primary colors * --------------

$color-primary-1 : #B08BE3;
$color-primary-2 : #6D489C;

// -------------- * Secondary colors * --------------

$color-secondary-1 : #B0F2B4;
$color-secondary-2 : #2A4E2D;

// -------------- * Tertiary colors * --------------

$color-tertiary-1 : #FFD6C0;
$color-tertiary-2  : #BAF2E9;

// -------------- * Background colors * --------------

$color-bg-1   : #F1F0FF;
$color-bg-2   : #FEFDFF;
$color-bg-3   : #CCCCCC;

// -------------- * Text colors * --------------

$color-text-1  : #1B191B;
$color-text-2   : #7C7C7C;