:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
    "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(#00000080, #00000040, #00000030, #00000020, #00000010, #00000010, #00000080);

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(to bottom right, rgba(1, 65, 255, 0), rgba(1, 65, 255, 0), rgba(1, 65, 255, 0.3));

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(#ffffff80, #ffffff40, #ffffff30, #ffffff20, #ffffff10, #ffffff10, #ffffff80);

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED VARIABLES 
/**/

// ------------- * Main Font library * -------------

@font-face {
  font-family: "Cousine-Regular";
  src: url("/fonts/cousine-font-family/Cousine-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cousine-Bold";
  src: url("/fonts/cousine-font-family/Cousine-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

// ------------- * Secondary Font library * -------------

@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("/fonts/sourceSansPro-font-family/SourceSansPro-Regular.otf") format("opentype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro-SemiBold";
  src: url("/fonts/sourceSansPro-font-family/SourceSansPro-Semibold.otf") format("opentype");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro-Bold";
  src: url("/fonts/sourceSansPro-font-family/SourceSansPro-Bold.otf") format("opentype");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

// ------------- * Main Font library * -------------

$font-main-Regular: "Cousine-Regular";
$font-main-Bold: "Cousine-Bold";

// ------------- * Secondary Font library * -------------

$font-secondary-Regular: "SourceSansPro-Regular";
$font-secondary-SemiBold: "SourceSansPro-SemiBold";
$font-secondary-Bold: "SourceSansPro-Bold";

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED FUNCTIONS 
/**/

// ------------- * Font Sizes * -------------

// Global referent Font Size quotient
$font-size-quotient: 1;

// Font Size Function
@function pixelsCalc($pxSize) {
  @return ($pxSize * $font-size-quotient) + px;
}

// Font Size Function  pixel to Rem
@function pxToRem($pxSize) {
  @return $pxSize / 10 + rem; // standard size: 10px
}

/* Font Size Function to create classes 
ex :
.font-size-10 {
  font-size: 1rem;
}*/
@mixin font-size() {
  $font-size-list: 10 12 14 16 20 24;
  @each $value in $font-size-list {
    .font-size-#{$value} {
      font-size: pxToRem($value);
    }
  }
}
@include font-size();

$breakpoint-tablet: 768px;

@mixin end-tablet {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  DEDICATED CLASSES & EXTENDS 
 *                                           Allways create both in order to be forced 
 *                                       directly on DOM or afterward in SCCS with @extend !
/**/

.bold,
%bold {
  font-weight: bold;
}

.opacity-90,
%opacity-80 {
  opacity: 0.8;
}

.opacity-80,
%opacity-80 {
  opacity: 0.8;
}

.opacity-70,
%opacity-70 {
  opacity: 0.7;
}

.opacity-50,
%opacity-50 {
  opacity: 0.5;
}

.text-left,
%text-left {
  text-align: left;
}

.text-center,
%text-center {
  text-align: center;
}

.uppercase,
%uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

/**
 * --------------------------------------------------------------------------------------------------------------
 *                                                  ELEMENTS APPLICATIONS
/**/

// -------------- * Primary Font Families * --------------

h1,
h2,
button {
  font-family: $font-main-Bold;
}

h3,
h4,
h5,
label {
  font-family: $font-secondary-SemiBold;
}

p {
  font-family: $font-secondary-Regular;
}

* {
  font-family: $font-secondary-Regular;
}

// -------------- * Font Sizes * --------------

h1 {
  font-size: pixelsCalc(56);
  line-height: pixelsCalc(64);
  margin: 0;
  letter-spacing: -2.24px;
  text-transform: uppercase;
  @include end-tablet {
    font-size: pixelsCalc(32);
    line-height: pixelsCalc(34);
    letter-spacing: -1.28px;
  }
}

h2 {
  font-size: pixelsCalc(32);
  line-height: pixelsCalc(36);
  margin: 0;
  letter-spacing: -1.28px;
  text-transform: uppercase;
  @include end-tablet {
    font-size: pixelsCalc(20);
    line-height: pixelsCalc(22);
    letter-spacing: -0.8px;
  }
}

h3 {
  font-size: pixelsCalc(24);
  line-height: pixelsCalc(30);
  margin: 0;
  text-transform: uppercase;
  @include end-tablet {
    font-size: pixelsCalc(18);
    line-height: pixelsCalc(24);
  }
}

h4 {
  font-size: pixelsCalc(18);
  line-height: pixelsCalc(18);
  margin: 0;
  text-transform: uppercase;
  @include end-tablet {
    font-size: pixelsCalc(16);
    line-height: pixelsCalc(18);
  }
}

h4 {
  font-size: pixelsCalc(16);
  line-height: pixelsCalc(18);
  margin: 0;
  @include end-tablet {
    font-size: pixelsCalc(16);
    line-height: pixelsCalc(18);
  }
}

p {
  font-size: pixelsCalc(16);
  line-height: pixelsCalc(18);
  margin: 0;
  @include end-tablet {
    font-size: pixelsCalc(16);
    line-height: pixelsCalc(20);
  }
}

a,
button {
  font-size: pixelsCalc(16);
  margin: 0;
  text-transform: uppercase;
  @include end-tablet {
    font-size: pixelsCalc(14);
  }
}

label {
  font-size: pixelsCalc(12);
  margin: 0;
  text-transform: uppercase;
  @include end-tablet {
    font-size: pixelsCalc(12);
  }
}

/*---------------------------------------------------------------*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
