@import '@/styles/_variables.scss';

$breakpoint-tablet: 768px;

@mixin end-tablet {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}

.sectionConnexion {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $color-bg-1;

  .containerUpper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 45%;

    .titleConnexion {
      text-align: center;
      padding: 0 60px;
      color: $color-primary-1;
    }

  }

  .containerFirstStep {
    div {
      display: flex;
      position: absolute;
      margin-top: -30px;
      left: 20px;

      h4 {
        padding: 6px 16px;
        color: $color-bg-2;
        background-color: $color-primary-2;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
      }

      img {
        margin-left: -5px;
      }
    }
  }

  .containerConnexion {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 55%;
    background-color: $color-primary-2;

    .contentConnexion {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 6px;
      padding: 28px 20px 36px;

      label {
        color: $color-bg-1;
      }

      .contentEmail {
        display: flex;
        flex-direction: column;
        gap: 6px;
      }

      .contentPassword {
        display: flex;
        flex-direction: column;
        gap: 6px;
      }
    }

    .contentButton {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4px;

      button {
        width: 176px;
        @include end-tablet {
          width: 170px;
        }
      }

      .forgottenPasswordLink {
        color: $color-bg-1;
        margin-top: 2px;
      }
    }
  }
}