@import "@/styles/_variables.scss";

$breakpoint-tablet: 768px;

@mixin end-tablet {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}

.sectionMedias {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $color-bg-2;

  .containerBreadcrumb {
    width: 100%;
    background-color: $color-bg-2;

    .breadcrumb {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 100%;
      padding: 8px 20px;

      .containerProgress {
        width: 100%;
        height: 10px;
        border-radius: 8px;
        background-color: $color-bg-1;

        .contentProgress {
          width: 100%;
          height: 100%;
          border-radius: 8px;
          background-color: $color-primary-1;
        }
      }
    }
  }

  .titleMedias {
    text-align: center;
    color: $color-primary-2;
    padding: 23px 20px 0;
  }
  .researchMedias {
    display: flex;
    position: relative;
    margin: 17px 20px 24px;
    img {
      position: absolute;
      top: 8px;
      left: 8px;
    }
    input[type="search"] {
      width: 100%;
      color: $color-text-1;
      background-color: $color-bg-1;
      border: none;
      outline: none;
      border-radius: 41px;
      height: 39px;
    }
  }
  .containerMedias {
    display: flex;
    flex-direction: column;
    padding-bottom: 78px;
    .contentMedias {
      display: flex;
      flex-direction: column;
      gap: 8px;
      justify-items: center;
      .checkboxMedias {
        display: flex;
        gap: 6px;
        height: 65px;
        background-color: $color-bg-1;
        padding: 0 20px;
        div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          label {
            color: $color-text-1;
            &::before {
              display: none;
              content: "";
              height: 10px;
              width: 10px;
              background-color: black;
            }
          }
        }
      }
    }
    .contentMedias {
      width: 100%;
    }
    .containerContinue {
      display: flex;
      width: 100%;
      justify-content: center;
      position: fixed;
      bottom: 25px;
      left: 0;
      button {
        width: 176px;
        @include end-tablet {
          width: 170px;
        }
      }
    }
  }
}
